* {
    box-sizing: border-box;
    
  }

body {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Poppins', sans-serif;
  height: auto;
}

/*NavBar.jsx CSS*/
.menu-text{
  font-family: 'Source Code Pro', monospace;
  
}

  /*Home.jsx CSS*/
.cursor-animation{
  animation: blink .75s step-end infinite;
}

  @keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #fae72a; 
	}
}

.hello-text{
  font-size: clamp(2rem, 8vw, 5rem);

}
.mouse-scroll{
  background: linear-gradient(170deg, rgba(122, 122, 124, 0.918), rgb(123, 124, 124));
  border-radius: 50%;
  margin: auto;
  animation: scrolling13 1.5s linear infinite;
}
@keyframes scrolling13 {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

/*About.jsx CSS*/
.about-text{
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Lora', serif; */
  font-size: clamp(1rem, 4vw, 2.3rem);
}
.about-text-slanted{
  animation: slanted 500ms ease-out;

  
}

@keyframes slanted {
  0%{
  transform: skewX(40deg) translate(0,100%);
  }
  20%{
    transform: skewX(35deg) translate(0,90%);
  }
  40%{
    transform: skewX(30deg) translate(0,70%);
  }
  60%{
    transform: skewX(20deg) translate(0,40%);
  }
  80%{
    transform: skewX(10deg) translate(0,20%);
  }
  100%{
  transform: skewX(0deg) translate(0,0);
  }
}

/*Projects.jsx CSS*/
#ga-video{
object-fit: fill;
width: 100%;
height: 100%;
}

/*Contacts.jsx CSS*/
.contact-text{
  font-family: 'Lora', serif;
}
